<lib-file-upload #fileUpload
[accept]="'image/png, image/jpg, image/gif'"
[multiple]="false"
(selectedFilesWithCaller)="onFileSelect($event)"></lib-file-upload>

<!-- Template starts from here -->
<div fxFill fxLayout="row" fxLayoutGap='2%' fxLayoutAlign="space-between stretch" (keydown)="canvasKeyboardEvent($event)">

  <!-- Start of LHS Container -->
  <div [fxFlex]="toolsFlex" class="side-panel left" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap='7%'>
      <div *ngFor="let tool of tools"  fxLayoutAlign="center"> 
          
          <button *ngIf="!tool.isHidden && tool.type !== ActionTypes.UPLOAD"
               [ngStyle]='tool.style'
                mat-flat-button
                color="primary"
                class='button-width-lhs button-sharp button-font-size'
                (click)="onSelectTool(tool)">
            <img *ngIf='tool.iconImgUrl'class="tool-icon" [src]="tool.iconImgUrl"/>
            <span>{{tool.iconDisplayText}}</span>
          </button>

          <button *ngIf="!tool.isHidden && tool.type === ActionTypes.UPLOAD"
                mat-flat-button
                fxLayoutAlign="center"
                color="primary"
                class="button-width-lhs button-sharp button-font-size"
                (click)="fileUpload.click(tool)">
            <img *ngIf='tool.iconImgUrl' class="tool-icon" [src]="tool.iconImgUrl"/>
            <span>{{tool.iconDisplayText}}</span>
          </button>

      </div> 
    </div> 
  <!-- /End LHS Container -->

  <div fxFlex="0 0 400px" fxLayout="column" fxLayoutAlign="center" [class.canvas-invisible]="!originalImageUrl || isWideCanvas">
    <canvas id="originalImageCanvas" class="canvas" width="400" height="400">
    </canvas>
  </div>

  <div fxFlex="0 0 400px" fxLayout="column" fxLayoutAlign="center" [class.canvas-invisible]="isWideCanvas">
    <canvas id="editedImageCanvas" class="canvas" width="400" height="400">
    </canvas>
  </div>

  <div class="wideCanvasContainer" #wideCanvas fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="center" [class.canvas-invisible]="!isWideCanvas">
    <canvas id="wideCanvas">
    </canvas>
  </div>

  <!-- Start of RHS Container -->
  <div [fxFlex]="actionsFlex" class="side-panel right" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap='5%'>
      <div fxLayout="row" fxLayoutAlign="center stretch">
          <mat-expansion-panel *ngIf='hasShortcutsExpansionPanel' class='expansion-panel-spacing-bottom'>
              <mat-expansion-panel-header>
                <mat-panel-description class='expansion-panel-header-font-size'>Keyboard shortcuts</mat-panel-description>
              </mat-expansion-panel-header>
                    <mat-list role="list">
                      <mat-list-item role="listitem" class='list-item-font-size' *ngIf='hasCloneShortcut'><fa-icon [icon]='faClone' class='action-icon-spacing'></fa-icon>Clone - Ctrl/Cmd + Shift + V</mat-list-item>
                      <mat-divider *ngIf='hasCloneShortcut'></mat-divider>
                      <mat-list-item role="listitem" class='list-item-font-size' *ngIf='hasRemoveShortcut'><fa-icon [icon]='faTrashAlt' class='action-icon-spacing'></fa-icon>Remove - Delete/Del</mat-list-item>
                      <mat-divider *ngIf='hasRemoveShortcut'></mat-divider>
                      <mat-list-item role="listitem" class='list-item-font-size' *ngIf='hasRemoveAllShortcut'><fa-icon [icon]='faTrash' class='action-icon-spacing'></fa-icon>Remove All - Shift + Delete/Del</mat-list-item>
                      <mat-divider *ngIf='hasRemoveAllShortcut'></mat-divider>
                      <mat-list-item role="listitem" class='list-item-font-size' *ngIf='hasBringForwardShortcut'><fa-icon [icon]='faArrowUp' class='action-icon-spacing'></fa-icon>Bring Forward - Shift + Up Arrow</mat-list-item>
                      <mat-divider *ngIf='hasBringForwardShortcut'></mat-divider>
                      <mat-list-item role="listitem" class='list-item-font-size' *ngIf='hasSendBackwardsShortcut'><fa-icon [icon]='faArrowDown' class='action-icon-spacing'></fa-icon>Send Backwards - Shift + Down Arrow</mat-list-item>
                    </mat-list>
            </mat-expansion-panel>
      </div>

      <div *ngFor="let section of activeTool.sections" [fxFlex]="section.flex" fxLayout="row" fxLayoutAlign="center stretch" class='action-section' [class.end-section]='section.isEndSection' fxLayoutGap='2%'>
        
        <div *ngFor="let action of section.actions" [fxFlex]="action.flex"> 

          <div [ngSwitch]="action.type">

            <div *ngSwitchCase="ActionTypes.BUTTON">
              <button fxFill mat-stroked-button
                      [matTooltip]="action.iconSrc || action.iconClass || action.iconMaterial? action.label : ''"
                      matTooltipPosition='above'
                      color="primary"
                      class='button-sharp button-font-size'
                      [class.selected]="action.isSelected !== undefined && action.isSelected"
                      (click)="onToolAction(action)">
                      <fa-icon *ngIf='action.iconClass' [icon]='action.iconClass'></fa-icon>
                      <i *ngIf='action.iconMaterial' class="material-icons">{{ action.iconMaterial }}</i>
                      <img *ngIf="action.iconSrc" class="action-icon" [src]="action.iconSrc"/>
                      <span *ngIf="!action.iconSrc && !action.iconClass && !action.iconMaterial">{{ action.label }}</span>
              </button>
            </div>

            <div *ngSwitchCase="ActionTypes.OUTGOING_EVENT_TRIGGER">
              <button fxFill mat-flat-button
              color="primary"
              class='button-sharp button-font-size'
              (click)="onToolAction(action)">{{ action.label }}</button>
            </div>

            <div *ngSwitchCase="ActionTypes.DIALOG">
                <button fxFill mat-stroked-button
                        [matTooltip]="action.iconSrc || action.iconClass || action.iconMaterial? action.label : ''"
                        matTooltipPosition='above'
                        color="primary"
                        class="button-sharp button-font-size"
                        [class.selected]="action.isSelected !== undefined && action.isSelected"
                        (click)="onToolAction(action)">
                  <fa-icon *ngIf='action.iconClass' [icon]='action.iconClass'></fa-icon>
                  <i *ngIf='action.iconMaterial' class="material-icons">{{ action.iconMaterial }}</i>
                  <img *ngIf="action.iconSrc" class="action-icon" [src]="action.iconSrc"/>
                  <span *ngIf="!action.iconSrc && !action.iconClass && !action.iconMaterial">{{ action.label }}</span>
                </button>
              </div>
  
              <div *ngSwitchCase="ActionTypes.DROPDOWN">
                <mat-form-field fxFill>
                  <mat-label>{{ action.label }}</mat-label>
                  <mat-select [(value)]="action.dropdownSelectedOption" (selectionChange)="onToolAction(action)">
                    <mat-option *ngFor="let value of action.dropdownOption" [value]="value">
                      {{ value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div *ngSwitchCase="ActionTypes.RELATED_INPUT">
                <mat-form-field floatLabel="never" class="editor-input-field">
                  <input matInput
                         [(ngModel)]="action.inputValue"
                         (change)="onToolAction(action)"
                         [type]="action.inputType">
                </mat-form-field>
              </div>
  
              <div *ngSwitchCase="ActionTypes.TOGGLE">
                <div>
                  {{ action.isOn ? action.onLabel : action.offLabel}}
                </div>
                <mat-slide-toggle (change)="onToolAction(action)" class="visual-editor-toggle"></mat-slide-toggle>
              </div>
  
              <div *ngSwitchDefault>
                <button fxFill mat-button
                        color="primary"
                        class="primary-button"
                        (click)="onToolAction(action)">
                  <i [class]="action.iconClass + ' tool-icon'"></i>
                </button>
              </div>
            
          </div> <!-- End of [ngSwitch]="action.type" div -->
          
        </div> <!-- End of *ngFor="let action of section.actions" div -->
      </div> <!-- End of *ngFor="let section of activeTool.sections" div-->
  </div>
  <!-- /End of RHS Container  -->
</div> 


