div.canvas-invisible {
  display: none !important;
  // NOTE: in this case ngIf does not work with the canvas element,
  //       hence we use set display to none
  //       we need !important because fxFlex overrides the display property otherwise
}

.button-sharp {
  border-radius: 0px;
}

.button-font-size {
  font-size: 0.8vw;
}

.button-width-lhs {
  width: 8vw;
}

.button-width-rhs {
  width: 6vw;
}

.action-icon {
  max-width: 40px;
  max-height: 40px;
}

.action-icon-spacing {
  margin-right: 3px;
}

.canvas {
  border: 1px solid #d5d5d5;
}

.wideCanvasContainer {
  padding: 5px;
  background-image: url('/assets/images/checkers_bg2.png');
}

.expansion-panel-header-font-size {
  font-size: 0.9vw;
}

.expansion-panel-spacing-bottom {
  margin-bottom: 15vh;
}

.list-item-font-size {
  font-size: 0.7vw;
}

.side-panel {
  padding: 0;
}

.side-panel.left {
  border-right: 1px solid #eee;

  // .action-section {
  //   padding: 5px 0;
  // }
  // .action-section.end-section {
  //   padding: 10px 0;
  // }
}

.side-panel.right {
  border-left: 1px solid #eee;

  // .action-section.end-section {
  //   padding: 10px 0;
  // }
  // .action-section {
  //   padding: 5px 0;
  // }
}

// .tool-button {
//   margin: 5px;
//   padding: 10px;

//   .tool-icon {
//     font-size: 32px;
//     margin-bottom: 5px;
//   }

//   span {
//     display: inherit;
//     font-size: 14px;
//     line-height: 10px;
//   }
// }

// .action-button {
//   font-size: 0.8vw;
//   width: 6vw;
// }
// .action-button.selected {
//   border: 1px solid red;
// }

// .object-button {
//   width: 8vw;

//   img.object-icon {
//     width: 150%;
//     height: 150%;
//     max-width: 40px;
//     max-height: 40px;
//   }
// }

// .action-button {
//   width: 8vw;

//   img.action-icon {
//     width: 6vw;
//     height: 6vh;
//     max-width: 40px;
//     max-height: 40px;
//   }
// }
