<div>
    <div mat-dialog-title>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="subtitle">{{titleText}}</div>
        <i class="fas fa-times fa-xs clickable" (click)="onCancel()"></i>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div mat-dialog-content class="dialog-content">
      <div fxLayout="row" fxLayoutAlign="center">
        <span [cpToggle]="true"
              [cpDialogDisplay]="'inline'"
              [cpOutputFormat]="'hex'"
              [(colorPicker)]="color"></span>
      </div>
    </div>
    <mat-dialog-actions>
      <div fxFill fxLayout="row"
           fxLayoutAlign="end center"
           fxLayoutGap="5px">
        <button *ngIf="addAll"
                mat-button
                color="primary"
                class="stroked-button border-primary"
                [disableRipple]="true"
                (click)="onAdd(true)">Add to all</button>
        <button mat-button
                color="primary"
                class="stroked-button border-primary"
                (click)="onAdd(false)">Add</button>
      </div>
    </mat-dialog-actions>
  </div>
  
